<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarpathianFurniture</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CarpathianFurniture</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 row justify-content-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="ShoppingCart" class="nav-link waves-effect">
                                    <b>Shopping Cart</b>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="UserPage" asp-controller="Home" class="nav-link waves-effect">
                                    @User.Identity.Name
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Login" asp-controller="Account" class="nav-link waves-effect">
                                    Change account
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-action="Login" asp-controller="Account" class="nav-link waves-effect">
                                    Sign in
                                </a>
                            </li>
                            <li class="nav-item pl-2 mb-2 mb-md-0">
                                <a asp-action="Register" asp-controller="Account" type="button"
                                   class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">
                                    Sign
                                    up
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CarpathianFurniture - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>