@{
    ViewData["Title"] = "AddItemToCart";
}

    <h1 class="text-center">Added to your shopping cart!</h1>
<div class="text-center">
    <a type="button" class="btn btn-success" asp-controller="ShoppingCart" asp-action="ReturnToShop">go to shopping cart</a>
</div>
